<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />

    <title>Animeku - Anime Download & Streaming</title>
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="background">
    </div>
          <div class="front">
        <img
          src="https://github.com/animeku.png?size=460"
          style="border-radius: 50%; margin-bottom:10px"
          width="10%"
        />
        <br />
        <span class="title">
          ANIMEKU
          </span>
        <br />
        <span class="caption">
          Anime Download & Streaming for Android
        </span>
      </div>
  </body>
</html>
